
# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
*.pyc

# emacs
*~
.*~
\#.*

*.code-workspace
sphinx/_*
data/
models/
gpu_venv/
venv/
my_test/
.ipypirc